{% load humanize %}
{% load static %}
{% for p in products %}
    <div class="col-md-3 col-sm-6 col-6 card ml-0 mt-0" >
      <h5 class="mt-3 text-center ">
        <p>{{p.title}}</p>
        {% if p.sex == True %}
        <p>Nam</p>
        {% else  %}
        <p>Nữ</p>
        {% endif %}
      </h5>
      <a href="{%  url 'ecomapp:productdetail' p.slug %}">
        <img  class="img-fluid  " src="{{p.thumbnail.url}}" alt=""  />
      </a>
      <div class="home-product-price" >
        <strong><span class="inline-block product-price"> Price:<small><strike>{{p.marked_price|intcomma}}</strike></small>
            {{p.selling_price|intcomma}} đ
        </span></strong>  
        {%  if p in product_in_wishlist %}
        <a   class=" inline-block add-to-wishlist " >
          <img class="heart-icon-navbar "  src="{% static 'icon/red-heart-icon.png' %}" alt="add to wishlist">
        </a>
        {% else %}
        <a href="{% url 'ecomapp:addtowishlist'  p.id %}" class="inline-block add-to-wishlist ">
          <img class="heart-icon-navbar "  src="{% static 'icon/black-heart-icon.png' %}" alt="">
        </a>
        {%  endif %} 
      </div>

    </div>
{% endfor %}