<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}  {% endblock %}  </title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="{% static 'css/base.css' %}" type="text/css" >
    
</head>
<!-- header -->
<header >
    <div class="container  " >
        <a href="{% url 'ecomapp:home' %}"  class="text-white ">Home </a>
        <a href="{% url 'ecomapp:about'  %}" class="text-white ml-2">About us </a>
        <a href="{% url 'ecomapp:contact' %}"class="text-white ml-2">Contact us </a>
        <a href="{% url 'ecomapp:allproducts' %}"class="text-white ml-2">Categories </a>
        {% if cart.count %}
        <a href="{% url 'ecomapp:mycart' %}"class="ml-2"> 
            <span>
                <img  style="width:35px;" src="{% static 'icon/cart-icon.png' %}" alt=""> 
                <span class="cart-count" >{{cart.count}}</span> 
            </span>
        </a>
        {% else %}
        <a href="{% url 'ecomapp:mycart' %}"class="ml-2"> 
            <span>
                <img  style="width:35px;" src="{% static 'icon/cart-icon.png' %}" alt=""> 
            </span>
        </a>
        {% endif %}


        {% if wishlist.count  %}
        <a href="{% url 'ecomapp:wishlist' %}"class="ml-4  "> 
            <span>
                <img  style="width:30px;"  src="{% static 'icon/white-heart-icon.png' %}" alt="">
                <span class="wishlist-count " >{{wishlist.count}}</span>
            </span>
        </a>
        {% else %}
        <a href="{% url 'ecomapp:wishlist' %}"class="ml-4  "> 
            <span>
                <img  style="width:30px;"  src="{% static 'icon/white-heart-icon.png' %}" alt="">  
            </span>
        </a>
        {% endif %}
        
        {% if request.user.customer %}
        <a href="{% url 'ecomapp:customerlogout' %}" class="mt-1 btn btn-danger opacity-2 float-right ml-2  " >Log out</a>
        <a href="{% url 'ecomapp:customerprofile' %}" class="mt-1  btn btn-outline-light float-right rounded " >My profile</a>
        <img class="img-fluid avatar float-right  mr-2 mt-1" src="{{request.user.customer.avatar.url}}" alt="">
        <p class="float-right text-white mr-3" >Xin chào {{request.user.customer}} ! </p>
        {%  else %}
        <a href="{% url 'ecomapp:customerlogin' %}" class="btn btn-outline-light float-right mt-1 shadow" >Log in</a>
        <a href="{% url 'ecomapp:customerRegistration' %}" class="btn btn-outline-light float-right mr-3  mt-1 shadow" >Register</a>
        {% endif %}
        <div class=" mt-0 ">  
            <span class="col-md-2 mx-auto " >
                <form  action="{% url 'ecomapp:search'  %}" method="GET" >
                    <button class="btn btn-sm btn-outline-light mb-1" >Search </button>
                    <input  class=" btn btn-light btn-sm mb-1  " type="text" name="keyword" placeholder="Tìm sản phẩm.." required   >
                </form>
            </span>       
        </div>
    </div>
</header>
{% if messages %}
		<div class="messages ">
		{% for message in messages %}
            
            {% if message.tags == 'success' %}
            <p id="msg"  class="alert alert-success ">{{ message }}</p>
             {% elif message.tags == 'error' %}
            <p id="msg"  class="alert alert-danger  ">{{ message }}</p>
            {% endif %}

		{% endfor %}
		</div>   
{% endif %}
    <!-- content -->
<body >
    
    {% block content %}
    {% endblock  %}

</body>


<script>
    var alert_info = document.getElementById("msg");
    setTimeout(function() {
        alert_info.style.display = "none";
    }, 3000);
</script>   
  
<!-- footer -->

<footer>
    <div class="row" >
        <div class="col-md-3 col-10  ml-5 mt-3" >
            <span class="text-white " >
                <b>ĐĂNG KÝ NHẬN BẢN TIN TỪ ASICS</b><br><br>
                <b>Trở thành người đầu tiên nhận thông tin về sản phẩm mới, sự kiện độc quyền, ưu đãi trực tuyến.</b><br><br>
                <p>Bằng cách đăng ký, bạn đồng ý nhận các bản tin, email thông tin về sản phẩm, dịch vụ, sự kiện, điện thoại
                     và tin nhắn, cũng như đồng ý với Khoản và Điều Kiện và Chính Sách Quyền Riêng Tư.</p>
                <hr class="bg-white">
                <p>KẾT NỐI VỚI ASICS TẠI</p><br>
                <span>
                    <a href="https://www.facebook.com/asicsvietnamofficial" target="_blank" >
                        <img class="facebook-icon"  src="{% static 'icon/facebook.png' %}"  alt="">
                    </a>
                    <a href="https://www.instagram.com/asicsvn/" target="_blank" >
                        <img class="instagram-icon"  src="{% static 'icon/instagram.png' %}"  alt="">
                    </a>
                </span>
            </span>        
        </div>
        <div class="col-md-2 col-5 ml-5 mt-3 " >
            <span  class="text-white">

                <p>GIỚI THIỆU</p>
                <p class="mb-0" >Về ASICS</p>
                <p class="mb-0" >Điều khoản và Điều kiện</p>
                <p class="mb-0"  >Chính sách Cookie</p>
                <p class="mb-0" >Miễn trừ trách nhiệm</p>
                <p class="mb-0" >Chính sách Quyền Riêng Tư</p>
            </span>

        </div>
        <div class="col-md-2 col-5 mt-3" >
            <div class="text-white" >
                <p>CHĂM SÓC KHÁCH HÀNG</p>
                <p class="mb-0">Liên hệ</p>
                <p class="mb-0">Chính sách đổi trả hàng</p>
                <p class="mb-0">Chính sách giao hàng</p>
                <p class="mb-0">Chính sách thanh toán</p>
                <p class="mb-0">Câu hỏi thường gặp</p>
                <p class="mb-0">Vị trí cửa hàng</p>
                <p class="mb-0">Bảo hành</p>
                <p class="mb-0">Kiểm tra hàng hóa</p>
                <p>Hướng dẫn mua hàng</p>
            </div>
        </div>


        <div class="col-md-2 col-5  mt-3" >
            <div class="text-white" >
                <p>HƯỚNG DẪN KÍCH THƯỚC</p>
                <p class="mb-0">Hướng dẫn kích thước giày</p>
                <p class="mb-0">Hướng dẫn độ rộng giày</p>
                <p class="mb-0">Hướng dẫn độ lệch bàn chân</p>
                <p>Hướng dẫn kích thước áo quần</p>
            </div>    
        </div>
        <div class="col-md-2 col-5 mt-3" >
            <div class="text-white " >
                <p>SẢN PHẨM</p>
                <p class="mb-0">Sản phẩm mới</p>
                <p class="mb-0">Sản phẩm bán chạy</p>
                <p class="mb-0">Sản phẩm độc quyền</p>
                <p class="mb-0">Giày</p>
                <p class="mb-0">Quần áo</p>
                <p class="mb-0">Phụ kiện</p>
                <p>Ưu đãi</p>
            </div>    
        </div>
    </div>
    <div class="row mt-5" >
        <div class="col-md-12 text-white " >
            <div class="ml-5">

                <p>THÔNG TIN VỀ CHỦ TRANG WEB  </p>
                <p>Công ty trách nhiệm hữu hạn ASICS Việt Nam được thành lập theo Giấy chứng nhận đăng ký doanh nghiệp số 0315898690, đăng ký lần đầu ngày 13 tháng 09 năm 2019, thay đổi lần thứ 3 ngày 03 tháng 11 năm 2021 do Phòng Đăng ký kinh doanh, Sở Kế hoạch và Đầu tư Thành phố Hồ Chí Minh cấp.</p>
                <p>Giấy phép kinh doanh số 0315898690-KD0437, cấp lần đầu ngày 7 tháng 11 năm 2019, điều chỉnh lần thứ nhất ngày 5 tháng 4 năm 2021 do Sở Công Thương Thành phố Hồ Chí Minh cấp.</p>
                <p>Giấy phép thành lập cơ sở bán lẻ số 0315898690/KD-0437/03.001, cấp lần đầu ngày 14 tháng 11 năm 2019, gia hạn lần thứ nhất ngày 08 tháng 08 năm 2022 do Sở Công Thương Thành phố Hồ Chí Minh cấp.</p>
                <p class="mb-0">Địa chỉ trụ sở chính: Saigon Centre, Lô L2-26-29, 67 Lê Lợi, Phường Bến Nghé, Quận 1, Thành phố Hồ Chí Minh, Việt Nam.</p>
                <p class="mb-0">Người đại diện theo pháp luật: Ông Gandhi Yogesh</p>
                <p >E-mail: customers-vn@asics.com</p>
            </div>
        </div>
    </div>   
</footer>

<div  class="under-footer" >
    <div class="row ">
        <div class="col-md-6 ml-5 mt-2" >
            <div><b> © 2023 ASICS Vietnam LLC Bảo lưu mọi quyền. </b> </div>
        </div> 
        <div class="col-md-2">

        </div>
        <div class="col-md-3 mt-2 " >
            <div><b><img src="{% static 'images/shoes-logo-new.png' %}" alt=""> Thiết kế sọc trên hai bên giày ASICS® là nhãn hiệu đã đăng ký của Tập đoàn ASICS.</b> </div>
        </div>
    </div>
</div>

</html>