{% extends 'base.html' %}
{% block title %}Check out {% endblock %}
{% load humanize %}
{% block content %}
<div class="container  " >
    <div  class="row " >
        <div class="col-md-7 card-border checkout-item py-2" > 
            <h3>Items in the cart</h3>
            
            <table class="table"  >
                <thead>
                    <tr>
                        <th>#</th>
                        <th>Image</th>
                        <th>Product</th>
                        <th>Rate</th>
                        <th>Quantity</th>
                        <th>Subtotal</th>  
                    </tr>
                </thead>
                <tbody>
                    {% for cp in cart.cartproduct_set.all %}
                    <tr>
                        <td>{{forloop.counter}}</td>
                        <td><img class="img-fluid" style="width:100px;" src="{{cp.product.thumbnail.url}}" alt=""></td>
                        <td>{{cp.product.title}}</td>
                        <td>{{cp.rate|intcomma}} đ</td>
                        <td>{{cp.quantity}}</td>
                        <td>{{cp.subtotal|intcomma}} đ</td>
                    </tr>
                    {% endfor %}
                    <tr>
                        <th colspan="5" class=" text-right" >Total:</th>
                        <th >{{cart.total|intcomma}} đ</th>
                    </tr>
                </tbody>
            </table>
        </div>
        <div class="col-lg-4 card-border checkout-form ml-4  py-2" >
            <h3>Checkout Form</h3>
            <form action=""  method="POST">
                {% csrf_token  %}  
                {{form.as_p}}  
                <button type="submit" class="btn btn-success">Place Order</button>     
            </form>  

        </div>

    </div>

</div>

{% endblock content %}