{% extends 'base.html' %}
{% load humanize %}
{% block title %}My profile{% endblock %}
{% block content %}
<div class='container' >
    <div class="row" >
        <div class="col-md-4  card-border detail-information " >
            <h3><span class="font-weight-bold"> Detail Information </span> </h3>
            <p> <span class="font-weight-bold" >Name</span>  :{{customer.full_name}}  </p>
            <p> <span class="font-weight-bold">User name </span>:{{user.username}}  </p>
            <p><span class="font-weight-bold">Email </span>:{{user.email}}  </p>
            <p><span class="font-weight-bold">Address </span>:{{customer.address}}  </p>
            <p><span class="font-weight-bold">Joined on </span> :{{customer.joined_on}}  </p>

        </div>
        <div class="col-md-7 card-border previous-orders" >
            <h3>My Orders </h3>
            <table  class="table">
                <thead>
                    <tr>
                        <th>SN</th>
                        <th>Order ID</th>
                        <th>Total</th>
                        <th>Ordered on</th>
                        <th>Status</th>
                    </tr>
                </thead>
                <tbody>
                    {% for order in orders %}
                    <tr>
                        <td>{{forloop.counter}}</td>
                        <td><a href="{% url 'ecomapp:customerorderdetail' order.id %}" >#ORDER_{{order.id}}</a></td>
                        <td>{{order.total|intcomma}} đ</td>
                        <td>{{order.created_at}}</td>
                        <td>{{order.order_status}}</td>              
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>

</div>


{% endblock %}