{% extends 'base.html' %} 
{% load humanize %} 
{% load static %}
{% block title %} Home {% endblock %} 
{% block content %}

<div class="container">
  <h3 class="mt-2" >Home</h3>

    <div class=" row ">
      <div class="col-md-6 col-sm-12" > 
        <div class="home-card-filter " >
          <div class="home-card-filter-name ">
            <h5>Filter by Product line</h5>
            <div class="row" >
              <div class="col-md-5 col-5 " >   
                <input class="filter-checkbox" type="checkbox" data-filter="productline" value="kayano"> Kayano <br> 
                <input class="filter-checkbox" type="checkbox" data-filter="productline" value="meta speed"> Meta speed <br> 
                <input class="filter-checkbox" type="checkbox" data-filter="productline" value="magic speed"> Magic speed <br> 
                <input class="filter-checkbox" type="checkbox" data-filter="productline" value="super blast"> Super blast <br> 
                <input class="filter-checkbox" type="checkbox" data-filter="productline" value="gel excite"> Gel Excite <br> 
                <input class="filter-checkbox" type="checkbox" data-filter="productline" value="gt 1000"> GT-1000 <br> 
                  
              </div>
              <div class="col-md-5  col-5">
                <input class="filter-checkbox" type="checkbox" data-filter="productline" value="gel cumulus"> Gel Cumulus <br> 
                <input class="filter-checkbox" type="checkbox" data-filter="productline" value="gel pulse"> Gel Pulse <br> 
                <input class="filter-checkbox" type="checkbox" data-filter="productline" value="novablast"> Novablast <br> 
                <input class="filter-checkbox" type="checkbox" data-filter="productline" value="versa blast"> Versa Blast <br> 
                

                   
              </div>  
            </div>
          </div>
        </div>
      </div>

    <div class="col-md-3 col-sm-12" > 
      <div class="home-card-filter" >
        <div class="home-card-filter-name">
          <h5>Filter by Sex</h5>
          
          <input class="filter-checkbox" type="checkbox" data-filter="product_sex" value="True"> Male <br> 
          <input class="filter-checkbox" type="checkbox" data-filter="product_sex" value="False"> Female <br> 
          
        </div>
      </div>
    </div>
    <!-- <div class="col-md-6 col-sm-12" > 
      <div class="home-card-filter" >
        <div class="home-card-filter-name" >
          <h5>Filter By Size</h5>
          <div class="row">
            <div class="col-4" >
              <input class="filter-checkbox" type="checkbox" value="6"  data-filter="productsize" > Size 6   <br> 
              <input class="filter-checkbox" type="checkbox" value="6h" data-filter="productsize" > Size 6h  <br>
              <input class="filter-checkbox" type="checkbox" value="7"  data-filter="productsize" > Size 7   <br>
              <input class="filter-checkbox" type="checkbox" value="7h" data-filter="productsize" > Size 7h  <br>
              <input class="filter-checkbox" type="checkbox" value="8"  data-filter="productsize" > Size 8   <br>
              <input class="filter-checkbox" type="checkbox" value="8h" data-filter="productsize" > Size 8h  <br>
            </div>
            <div class="col-4" >
              <input class="filter-checkbox" type="checkbox" value="9"  data-filter="productsize" > Size 9   <br> 
              <input class="filter-checkbox" type="checkbox" value="9h" data-filter="productsize" > Size 9h  <br>
              <input class="filter-checkbox" type="checkbox" value="10" data-filter="productsize" > Size 10  <br>
              <input class="filter-checkbox" type="checkbox" value="10h"data-filter="productsize" > Size 10h <br>
              <input class="filter-checkbox" type="checkbox" value="11" data-filter="productsize" > Size 11  <br>           
            </div>
            <div class="col-4" >
              <input type="checkbox" value="6"> Size S    <br> 
              <input type="checkbox" value="6"> Size M    <br>
              <input type="checkbox" value="6"> Size L    <br>
              <input type="checkbox" value="6"> Size Xl   <br>
              <input type="checkbox" value="6"> Size XXL  <br>           
            </div>
          </div>
        </div>
      </div> -->

    <!-- </div> -->

    <div class="col-md-3 col-sm-12" > 
      <div class="home-card-filter" >
        <div class="home-card-filter-name" >
          <h5>Filter By Categories</h5>
          {% for cat in categories %}
          <input class="filter-checkbox" type="checkbox" data-filter="category" value="{{cat.id}}"> {{cat.title}} <br> 
          {% endfor %}
        </div>
      </div>
    </div>

  </div>
<hr>

<div class="d-flex justify-content-center">
  <div class="spinner-border loader" role="status">
    <span class="sr-only">Loading...</span>
  </div>
</div>

  <div class="row mt-5" id="filtered-product" >
    {% for p in product_list %}
    <div class="col-md-3 col-sm-6 col-6 card ml-0 mt-0" >
      <h5 class="mt-3 text-center ">
        <p>{{p.title}}</p>
        {% if p.sex == True %}
        <p>Nam</p>
        {% else  %}
        <p>Nữ</p>
        {% endif %}
      </h5>
      <a href="{%  url 'ecomapp:productdetail' p.slug %}">
        <img  class="img-fluid  " src="{{p.thumbnail.url}}" alt=""  />
      </a>
      <div class="home-product-price" >
        <strong><span class="inline-block product-price"> Price:<small><strike>{{p.marked_price|intcomma}}</strike></small>
            {{p.selling_price|intcomma}} đ
          </span></strong>
        
          
          {%  if p in product_in_wishlist %}
          <a   class=" inline-block add-to-wishlist " >
            <img class="heart-icon-navbar "  src="{% static 'icon/red-heart-icon.png' %}" alt="add to wishlist">
          </a>
          {% else %}
          <a href="{% url 'ecomapp:addtowishlist'  p.id %}" class="inline-block add-to-wishlist ">
            <img class="heart-icon-navbar "  src="{% static 'icon/black-heart-icon.png' %}" alt="">
          </a>
          {%  endif %}

      </div>

    </div>
    {% endfor %}
 
    
  </div>
    <div class="row mt-5  ">
        <div class="col-md-12 d-flex justify-content-center">
            <nav aria-label="Page navigation ">
                <ul class="pagination">

                {% if product_list.has_previous %}
                <li class="page-item">
                    <a class="page-link" href="?page={{ product_list.previous_page_number }}">&laquo;</a>
                </li>
                {% else %}
                <li class="page-item disabled">
                    <a class="page-link" href="#">&laquo;</a>
                </li>
                {% endif %}

                {% for i in product_list.paginator.page_range %}
                  {% if i == product_list.number %}
                <li class="page-item active"><a class="page-link" >{{i}}</a></li>
                  {% else %}
                <li class="page-item "><a class="page-link" href="?page={{i}}">{{i}}</a></li>
                  {% endif %}
                {%  endfor %}
                
                {% if product_list.has_next %}
                <li class="page-item">
                    <a class="page-link" href="?page={{ product_list.next_page_number }}"
                    >&raquo;</a
                    >
                </li>
                {% else %}
                <li class="page-item disabled"><a class="page-link" href="#">&raquo;</a></li>
                {% endif %}

                </ul>
            </nav>
        </div>
    </div>
</div>



<script>
$(document).ready(function(){
  $('.loader').hide()
  $('.filter-checkbox').on('click',function(){
    let filter_object={}
    $('.filter-checkbox').each(function(){
      let filter_value=$(this).val()
      let filter_key=$(this).data('filter')
      filter_object[filter_key]=Array.from(document.querySelectorAll('input[data-filter=' + filter_key + ']:checked')).map(function(element){
        return element.value
      })
    })
    console.log('Filter object is : ',filter_object)
    $.ajax({
      url:'/filter-product',
      data: filter_object,
      // method:'get',
      dataType:'json',
      beforeSend: function(){
        console.log("Trying to filter the product...")
        $(".loader").show();
      },
      success: function(response){
        $(".loader").hide()
        console.log(response)
        console.log("data filtered successfully...")
        $('#filtered-product').html(response.data)
      }
    });
  });
});


</script>



{% endblock content %}
