{% extends 'base.html' %}
{% load static %}
{% load humanize %}
{% block title %}{{product.title}}{% endblock %}

{% block content %}
<style>
.images{
    /* object-fit:cover; */
    /* max-width:200px;
    max-height:100px; */
    cursor:pointer;
    opacity:0.5;
    margin: 5px;
    
}
.images:hover{
    opacity:1;
}
.active{
    opacity:1;
}

</style>




<div class=" container" > 
    
    
    <div class="row mt-5" >
        
        <div class="col-md-7 card-border productdetail-thumbnail " >
            <img id="thumbnail" class="productdetail-main-img img-fluid mt-3" src="{{product.thumbnail.url}}" alt="">
            <div class="row " >
                
                <div class="col-md-2" >
                    <a href="{{product.thumbnail.url}}" >
                        <img class="images active img-fluid"  src="{{product.thumbnail.url}}"  >
                    </a>
                </div>
                {% for pi in product.productimage_set.all %}
                <div class="col-md-2 " >
                    <a href="{{pi.image.url}}" >
                        <img  class="images img-fluid"  src="{{pi.image.url}}" alt="" >
                    </a>
                </div>
                    {%  endfor %}
            </div>
        </div>            
            


        <div class="col-md-4 productdetail-desc  card-border py-2" >
            <h4>{{product.title}}  </h4>
            <p>(Viewed:{{product.view_count}}times)</p>
            <!-- <h5>Category : {{product.category}}</h5> -->
            <h5>Price :<small> <strike>{{product.marked_price|intcomma}}</strike></small> <strong>{{product.selling_price|intcomma}} đ</strong> </h5>
            <a href="{% url 'ecomapp:addtocart'  product.id  %}?s=" id="addtocart"     style="width:75%;"    class="btn btn-outline-primary" >Add to cart</a>

            {% if product in product_in_wishlist %}
            <a  class=" ml-3 add-to-wishlist ">
                <img   class="heart-icon-product-detail "  src="{% static 'icon/red-heart-icon.png' %}" alt="">
            </a>
            {% else %}
            <a href="{% url 'ecomapp:addtowishlist'  product.id %}" class=" ml-3 add-to-wishlist ">
                <img   class="heart-icon-product-detail "  src="{% static 'icon/black-heart-icon.png' %}" alt="">
            </a>
            {% endif %}
            <hr>

            <p id="size-chosen">Kích thước (US) :</p>

            {% if product.productsize.size_6 == True %}
            <div class="product-size-number-true product-size " value="6">6</div>
            {% else %} 
            <div class="product-size-number-false  " >6</div>
            {%  endif %} 

            {% if product.productsize.size_6h == True %}
            <div class="product-size-number-true product-size" value="6h">6h</div>
            {% else %} 
            <div class="product-size-number-false " >6h</div>
            {%  endif %} 

            {% if product.productsize.size_7 == True %}
            <span class="product-size-number-true product-size" value="7">7</span>
            {% else %} 
            <span class="product-size-number-false " >7</span>
            {%  endif %} 

            {% if product.productsize.size_7h == True %}
            <span class="product-size-number-true product-size" value="7h">7h</span>
            {% else %} 
            <span class="product-size-number-false " >7h</span>
            {%  endif %} 

            {% if product.productsize.size_8 == True %}
            <span class="product-size-number-true product-size" value="8">8</span>
            {% else %} 
            <span class="product-size-number-false " >8</span>
            {%  endif %} 

            {% if product.productsize.size_8h == True %}
            <span class="product-size-number-true product-size" value="8h">8h</span>
            {% else %} 
            <span class="product-size-number-false " >8h</span>
            {%  endif %} 

            {% if product.productsize.size_9 == True %}
            <span class="product-size-number-true product-size" value="9">9</span>
            {% else %} 
            <span class="product-size-number-false " >9</span>
            {%  endif %} 

            {% if product.productsize.size_9h == True %}
            <span class="product-size-number-true product-size" value="9h">9h</span>
            {% else %} 
            <span class="product-size-number-false " >9h</span>
            {%  endif %} 

            {% if product.productsize.size_10 == True %}
            <span class="product-size-number-true product-size" value="10">10</span>
            {% else %} 
            <span class="product-size-number-false " >10</span>
            {%  endif %} 

            {% if product.productsize.size_10h == True %}
            <span class="product-size-number-true product-size" value="10h">10h</span>
            {% else %} 
            <span class="product-size-number-false " >10h</span>
            {%  endif %} 

            {% if product.productsize.size_11 == True %}
            <span class="product-size-number-true product-size" value="11">11</span>
            {% else %} 
            <span class="product-size-number-false ">11</span>
            {%  endif %} 


            
            <p>{{product.description}}</p>
        </div>
    </div>

</div>



<div class="sub-desc-outer" >
    <div class="sub-desc" >
        <div>Thông tin sản phẩm</div>
        <div>Đặc điểm kĩ thuật</div>
    </div>
</div>


<!-- hover hình -->
<script  type="text/javascript">
    let images=document.getElementsByClassName('images')
    let activeImages=document.getElementsByClassName('active')
    for(var i=0;i<images.length; i++){
        images[i].addEventListener('mouseover',function(){
            console.log(activeImages)
            if(activeImages.length>0){
                activeImages[0].classList.remove('active')
            }
            this.classList.add('active')
            document.getElementById('thumbnail').src=this.src
        })
    }


</script>
<!-- chọn size,thay đổi link.href để gửi qua backend -->
<script type="text/javascript" >
    
    let productSize=document.getElementsByClassName('product-size')
    
    let productChosen=document.getElementsByClassName('product-active')
    let link =document.getElementById('addtocart') 
    console.log(link.href)
    // size.length=undefined
    var size=5
    for(var i=0;i<productSize.length; i++){
        productSize[i].addEventListener('click',function(e){
            if(productChosen.length>0){
                productChosen[0].classList.remove('product-active')
            }
            this.classList.add('product-active') 

            // link.href thay đổi theo click
            if (size.length==1){
                link.href=link.href.substring(0,link.href.length-1)
            }
            if(size.length==2){
                link.href=link.href.substring(0,link.href.length-2)
            }
            if(size.length==3){
                link.href=link.href.substring(0,link.href.length-3)
            }
            
            size=e.target.innerHTML 
            console.log('size length là:',size.length)
            link.href=link.href.concat(size)
            console.log('link href là :',link.href)
            // hiển thị size khi click vào ở id size-chosen    
            var sizeChosen=document.getElementById('size-chosen').innerHTML
            sizeChosen="Kích thước (US) :"
            sizeChosen+=" "+size
            document.getElementById('size-chosen').innerHTML=sizeChosen
            console.log(sizeChosen)
            
        })
    } 

</script>


{% endblock content %} 

